<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common_header :: common-header"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="toast" id="myToast" role="alert" aria-live="assertive"
     aria-atomic="true" data-animation="true" data-delay="10000" data-autohide="true" style="position: absolute; top: 1000; right: 45;">
    <div class="toast-header">
        <strong class="mr-auto">Employee Database</strong>
        <small class="text-muted"> </small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body" id="toast-body">
        Hello, world! This is a toast message.
    </div>
</div>

<div class="container" id="add-material">

    <br>
    <br>
    <div class="jumbotron">
        <h1 class="display-3" style="text-align: center;">All Employee in Database</h1>
    </div>

        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col"> First Name </th>
                <th scope="col"> Last Name </th>
                <th scope="col"> Job Position </th>
                <th scope="col"> Pin </th>
                <th scope="col"> Edit </th>
                <th scope="col"> Delete </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${employees.empty}">
                <td colspan="2"> No Inventory </td>
            </tr>
            <tr scope="row" th:each="employee : ${employees}">
                <td><span th:text="${employee.firstName}" id="first-name"> Description </span></td>
                <td><span th:text="${employee.lastName}" id="last-name"> Qty </span></td>
                <td><span th:text="${employee.jobPosition}"> Length </span></td>
                <td><span th:text="${employee.pin}"> Width </span></td>

                    <td><span><a th:href="@{/employee/{id}(id = ${employee.id})}">
                        <button class="btn btn-primary" type="button">Edit</button>
                    </a>
                    </span></td>
                    <td><span><a th:href="@{/employee-delete/{id}(id = ${employee.id})}">
                        <button class="btn btn-danger" type="button">Delete</button>
                    </a></span></td>
                    <td><span>
                        <button class="btn btn-danger" th:value="${employee.firstName} + ' ' + ${employee.lastName}" onclick="employeeToast(this.value)" type="button">toast</button>
                    </span></td>
                </form>
            </tr>
            </tbody>

        </table>

</div>



<div th:replace="fragments/common_footer :: common-footer"></div>

</body>
</html>