

<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common_header :: common-header"></head>

<body>

<div th:replace="navbar :: navbar"></div>

<div class="container">
	<table class="table table-dark">
	    <thead>
	        <tr>
	            <th scope="col"> Description </th>
	            <th scope="col"> Quantity </th>
	            <th scope="col"> Length </th>
	            <th scope="col"> Width </th>
	            <th scope="col"> Thick </th>
	            <th scope="col"> Category </th>
	            <th scope="col"> Edit </th>
	        </tr>
	    </thead>
	    <tbody>
	    <tr th:if="${inventory.empty}">
	            <td colspan="2"> No Inventory </td>
	        </tr>
	        <tr scope="row" th:each="item : ${inventory}">
	            <td><span th:text="${item.description}"> Description </span></td>
	            <td><span th:text="${item.qty}"> Qty </span></td>
	            <td><span th:text="${item.length}"> Length </span></td>
	            <td><span th:text="${item.width}"> Width </span></td>
	            <td><span th:text="${item.thick}"> Thick </span></td>
	            <td><span th:text="${item.category}"> Category </span></td>
	            <td><span><button type="button">Edit</button></span></td>
	        </tr>
	    </tbody>
	</table>
</div>

<div th:replace="common_footer :: common-footer"></div>

</body>
</html>