<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="common-header">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link type="text/css" rel="stylesheet" href="../css/bootstrap.css" th:href="@{css/bootstrap.css}">
<!-- Custom CSS -->
<link type="text/css" rel="stylesheet" href="../css/custom.css" th:href="@{css/custom.css}">

<title>Material Manager</title>
</head>

</html>