<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common_header :: common-header"></head>

<body>

<div th:replace="navbar :: navbar"></div>

<div class="container">
<br>
<h1 style="text-align: center;"><u>Current Inventory</u></h1>
<br>

    <div class="row">
        <div th:each="cat : ${categories}" class="col">
            <button type="button" th:text="${cat}"></button>

        </div>


    </div>


</div>


<div th:replace="common_footer :: common-footer"></div>

</body>
</html>