

<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common_header :: common-header"></head>

<body>

<div th:replace="navbar :: navbar"></div>



<div class="container">

	<br>
	<h1 style="text-align: center;"><u>Inventory Low - Order Soon</u></h1>
	<br>
	<table class="table table-hover table-dark">
	    <thead>
	        <tr>
	            <th scope="col"> Description </th>
	            <th scope="col"> Quantity </th>
	            <th scope="col"> Length </th>
	            <th scope="col"> Width </th>
	            <th scope="col"> Thick </th>
	            <th scope="col"> Category </th>
	        </tr>
	    </thead>
	    <tbody>
	    <tr th:if="${lowInventory.empty}">
	            <td colspan="2"> No Low Inventory </td>
	        </tr>
	        <tr scope="row" th:each="item : ${lowInventory}">
	            <td><span th:text="${item.description}"> Description </span></td>
	            <td><span th:text="${item.qty}"> Qty </span></td>
	            <td><span th:text="${item.length}"> Length </span></td>
	            <td><span th:text="${item.width}"> Width </span></td>
	            <td><span th:text="${item.thick}"> Thick </span></td>
	            <td><span th:text="${item.category}"> Category </span></td>
	        </tr>
	    </tbody>
	</table>
</div>


<div th:replace="common_footer :: common-footer"></div>

</body>
</html>